body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('files/section_1_bg_mobile.svg') repeat;
}

.container {
  max-width: 780px;
  margin: 20px auto;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(252, 215, 168);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}

.logo {
  width: 150px;
  height: auto;
  margin-top: 15px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content {
  margin-bottom: 20px;
}

button#connect-wallet-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(8, 8, 8);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button#connect-wallet-button:hover {
  background-color: rgb(107, 103, 101);
}

.main-paragraph {
  padding: 15px 0;
}

.contact-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px; /* Reduce space between social icons */
  margin-left: 5px; /* Add margin to the left of social icons */
  margin-top: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .container {
    margin-left: 18px;
    margin-right: 18px;
    padding: 20px 10px;
  }

  .contact-info {
    position: relative;
    bottom: auto;
    left: auto;
    margin-top: 20px;
  }

  .social-icon {
    margin-right: 3px; /* Further reduce space between social icons */
  }
}
