body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('files/section_1_bg_mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 780px; /* Adjusted max-width to accommodate the margins */
  margin: 20px auto;
  margin-buttom: 20px;
  padding: 20px;
  text-align: center;
  background-color: rgb(247, 197, 104);
  color: rgb(5, 5, 5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 150px;
  height: auto;
  margin-top: 15px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content {
  margin-bottom: 20px;
}

button#connect-wallet-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(8, 8, 8);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button#connect-wallet-button:hover {
  background-color: rgb(107, 103, 101);
}

.main-paragraph {
  padding: 15px 0;
}

.contact-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  margin-top: 4px;
  
  background-color: rgba(0, 0, 0, 0.3); /* Blending the background */
  border-radius: 50%; /* Make it circular */
}

@media (max-width: 768px) {
  .container {
    margin-left: 18px; /* Adjusted margin */
    margin-right: 18px; /* Adjusted margin */
    padding: 20px 10px;
  }

