body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f7c568;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.logo {
  width: 160px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button#connect-wallet-button {
  background-color: #f7c568;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button#connect-wallet-button:hover {
  background-color: #6b6765;
  color: #fff;
}

.popup {
  margin-top: 10px;
}

footer {
  background-color: #f7c568;
  text-align: center;
  padding: 20px;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 30px;
  height: auto;
  margin: 0 10px;
}
